body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "Source Sans Pro", sans-serif;
  padding: 1em 1em;
  background: rgb(209, 209, 206);
  width: 100%;
  margin: 0%;
}
.title {
  font-size: 25px;
  font-weight: 300;
  /* line-height: 50px; */
  color: #313738;
  padding: 2% 0% 2% 0%;
  font-weight: bold;
}
.filter-buttons {
  width: 40%;
  max-width: 200px;

  font-size: 15px;
  background-color: #f8f3f3;
  color: rgb(53, 52, 52);
  padding: 5px;
  margin: 5px 5px 2.5px 0px;
  border: 1px solid rgb(12, 12, 12);
  outline-color: rgb(7, 7, 7);
  font-weight: 600;
}

rect:hover {
  fill: rgb(45, 114, 130);
  /* opacity: 0.5; */
}

.dot:hover {
  fill: black;
}

.axis-label {
  font-size: 12px;
  font-weight: 300;
  fill: black;
  text-anchor: middle;
}
.d3-tip {
  position: absolute;
  text-align: left;
  padding: 2%;
  background: white;
  color: black;
  border: 0px;
  pointer-events: none;
  stroke-width: black;
  border: 1px solid rgb(12, 12, 12);
}

path.state:hover {
  stroke-width: 2px;
  fill: #353434;
}
.row {
  /* position: absolute; */
  font-size: large;
  /* font-weight: bold; */
  text-align: left;
  /* padding: 2%; */
  /* width: 100px;
    height: 20px;
    padding: 2px;
    font: 12px sans-serif; */
  /* background: white; */
  color: black;
  border: 0px;
  pointer-events: none;
  stroke-width: black;
}

/* Map content*/
#map-content {
  display: grid;
  grid-template-columns: 0.1fr 5fr 4fr 0.1fr;
  column-gap: 3%;
  /* width: 90vw; */
  /* height: 60vh; */
}
@media only screen and (max-width: 700px) {
  #map-content {
    grid-template-columns: 1fr;
    padding: 2em 3em;
    grid-template-areas:
      "map-container"
      "bubble-container";
  }
}
/*   
  #map-title {
    text-align: center;
    font-family: 'IBM Plex Serif';
    font-size: 22px;
    font-weight: 700;
    padding: 5% 0% 0% 0%; 
  } */
/* #map-container{
    grid-area: 'map-container'
  } */
